*{ 
    margin: 0;
    padding: 0;
}

.banner{
    margin: auto;
    max-width: 1000px;
    max-height: 250px;
    text-align: center;
}
.banner img{
    width: 100%;
    height: 250px;
    object-fit: fill;
}
.menu{
    height: 100px;
    margin: 10px auto;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
.wrap{
    max-width: 1000px;
    margin: auto;
    max-width: 1000px;
    max-height: 250px;
    text-align: center;
}
.image-row-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    

}
.image-row-1-1{
    width: 20%;
    height: 300px;
}
.image-row-1-1 img{
   object-fit: fill;
    width: 100%;
    height: 250px;
    opacity: 1;
    transition-property: opacity ;
    transition-duration: 3s;
    transition-timing-function: linear;
}
.image-row-1-1:hover {
    opacity: 0.5;
    color: red;
    background-color: chartreuse;
    
}
.image-row-1-2{
    border:2px solid darkblue;
    width: 20%;
    height: 300px;  
}
.image-row-1-2 img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    
}
.image-row-1-2:hover  {
    color:red;
    transform: scale(0.5);
}